@model IEnumerable<gtech_adminltev1.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
     <div class="card-header">
         <h3 class="card-title">Listado de Clientes</h3>
     </div>

     <div class="card-body">
    <p>
            <a asp-action="Create">Nuevo Cliente</a>
    </p>
       <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorreoE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIng)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIng)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>
</div>